.row{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 1;
}

.title{
  margin-top: -10px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.covid-data{
  height: 91.18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homeDiv{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: contain;
  opacity: 0.5;
  z-index: 1;
}
