
.rotate{
    
}
@media only screen and (max-width: 600px) {
    .rotate{
        margin-top: 150px;
        margin-bottom: 150px;
        object-fit: contain;
        background-size: contain;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}