.label__value{
    color:#f05454 !important
}

.funnel {
    margin: 24px 24px;
    padding: 24px 24px;
}   

.flex {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.svg-funnel-js__label label-1{
    margin-top: 100px auto !important;
}

.label__title{
    color:#30475e !important
}